In [21]:
from bs4 import BeautifulSoup
import requests
import csv

In [22]:
# Send a GET request to the website
url = 'https://www.bb.org.bd/en/index.php/financialactivity/mfsdata'
response = requests.get(url)

In [23]:
html_content = response.text

# Parse the HTML content
soup = BeautifulSoup(html_content, 'html.parser')

In [29]:
 # Open a CSV file for writing
with open('BB_table_data1.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)

In [24]:
# Find the table and its rows
table = soup.find('table')
rows = table.find_all('tr')

In [25]:
print(table)

<table>
<tr>
<th>Serial no.</th>
<th>Description</th>
<th>Amount in February, 2023</th>
<th>Amount in March, 2023</th>
<th>% Change (February, 2023 to March, 2023)</th>
</tr>
<tr>
<td>A.
<td colspan="3">Industry Wise Information</td>
</td></tr>
<tr><td>1</td><td class="text-left">No. of Banks currently providing  the Services</td><td>13</td><td>13</td><td></td></tr><tr><td>2</td><td class="text-left">No. of agents</td><td>1581284</td><td>1598000</td><td>1.06%</td></tr><tr><td>3</td><td class="text-left">No. of registered clients in Lac</td><td>1967.04</td><td>1980.93</td><td>0.71%</td></tr><tr><td>4</td><td class="text-left">No. of active accounts in Lac*</td><td>634.95</td><td>675.20</td><td>6.34%</td></tr><tr><td>5</td><td class="text-left">No. of total transaction</td><td>450926709.00</td><td>482455915.00</td><td>6.99%</td></tr><tr><td>6</td><td class="text-left">Total transaction in taka(in crore BDT)</td><td>97307.48</td><td>108467.23</td><td>11.47%</td></tr><tr><td>7</td><td class="text-left">No. of daily average transaction</td><td>16104525.00</td><td>15563094.00</td><td>-3.36%</td></tr><tr><td>8</td><td class="text-left">Average daily transaction (in crore BDT)</td><td>3475.27</td><td>3498.94</td><td>0.68%</td></tr><tr><td>B.</td><td class="text-left"><b>Product Wise Information </b></td><td><b>Amount (in crore BDT)</b></td><td><b>Amount (in crore BDT)</b></td><td></td></tr><tr><td>   1</td><td class="text-left">Inward Remittance</td><td>379.60</td><td>512.74</td><td>35.07%</td></tr><tr><td>   2</td><td class="text-left">Cash In transaction</td><td>29227.72</td><td>34308.10</td><td>17.38%</td></tr><tr><td>   3</td><td class="text-left">Cash Out Transaction</td><td>28086.41</td><td>30875.95</td><td>9.93%</td></tr><tr><td>   4</td><td class="text-left">P2P transaction</td><td>27521.81</td><td>31506.76</td><td>14.48%</td></tr><tr><td>   5</td><td class="text-left">Salary Disbursement (B2P)</td><td>2750.48</td><td>2758.13</td><td>0.28%</td></tr><tr><td>   6</td><td class="text-left">Utility Bill Payment (P2B)</td><td>1886.44</td><td>2318.09</td><td>22.88%</td></tr><tr><td>   7</td><td class="text-left">Merchant Payment</td><td>3532.25</td><td>4114.11</td><td>16.47%</td></tr><tr><td>   8</td><td class="text-left">Government Payment</td><td>2328.14</td><td>292.19</td><td>-87.45%</td></tr><tr><td>   9</td><td class="text-left">Others</td><td>1594.63</td><td>1781.16</td><td>11.7%</td></tr>
</table>

In [26]:
print(rows)

[<tr>
<th>Serial no.</th>
<th>Description</th>
<th>Amount in February, 2023</th>
<th>Amount in March, 2023</th>
<th>% Change (February, 2023 to March, 2023)</th>
</tr>, <tr>
<td>A.
<td colspan="3">Industry Wise Information</td>
</td></tr>, <tr><td>1</td><td class="text-left">No. of Banks currently providing  the Services</td><td>13</td><td>13</td><td></td></tr>, <tr><td>2</td><td class="text-left">No. of agents</td><td>1581284</td><td>1598000</td><td>1.06%</td></tr>, <tr><td>3</td><td class="text-left">No. of registered clients in Lac</td><td>1967.04</td><td>1980.93</td><td>0.71%</td></tr>, <tr><td>4</td><td class="text-left">No. of active accounts in Lac*</td><td>634.95</td><td>675.20</td><td>6.34%</td></tr>, <tr><td>5</td><td class="text-left">No. of total transaction</td><td>450926709.00</td><td>482455915.00</td><td>6.99%</td></tr>, <tr><td>6</td><td class="text-left">Total transaction in taka(in crore BDT)</td><td>97307.48</td><td>108467.23</td><td>11.47%</td></tr>, <tr><td>7</td><td class="text-left">No. of daily average transaction</td><td>16104525.00</td><td>15563094.00</td><td>-3.36%</td></tr>, <tr><td>8</td><td class="text-left">Average daily transaction (in crore BDT)</td><td>3475.27</td><td>3498.94</td><td>0.68%</td></tr>, <tr><td>B.</td><td class="text-left"><b>Product Wise Information </b></td><td><b>Amount (in crore BDT)</b></td><td><b>Amount (in crore BDT)</b></td><td></td></tr>, <tr><td>   1</td><td class="text-left">Inward Remittance</td><td>379.60</td><td>512.74</td><td>35.07%</td></tr>, <tr><td>   2</td><td class="text-left">Cash In transaction</td><td>29227.72</td><td>34308.10</td><td>17.38%</td></tr>, <tr><td>   3</td><td class="text-left">Cash Out Transaction</td><td>28086.41</td><td>30875.95</td><td>9.93%</td></tr>, <tr><td>   4</td><td class="text-left">P2P transaction</td><td>27521.81</td><td>31506.76</td><td>14.48%</td></tr>, <tr><td>   5</td><td class="text-left">Salary Disbursement (B2P)</td><td>2750.48</td><td>2758.13</td><td>0.28%</td></tr>, <tr><td>   6</td><td class="text-left">Utility Bill Payment (P2B)</td><td>1886.44</td><td>2318.09</td><td>22.88%</td></tr>, <tr><td>   7</td><td class="text-left">Merchant Payment</td><td>3532.25</td><td>4114.11</td><td>16.47%</td></tr>, <tr><td>   8</td><td class="text-left">Government Payment</td><td>2328.14</td><td>292.19</td><td>-87.45%</td></tr>, <tr><td>   9</td><td class="text-left">Others</td><td>1594.63</td><td>1781.16</td><td>11.7%</td></tr>]

In [27]:
for row in table.find_all('tr'):
        row_data = []
        for cell in row.find_all('th'):
                print (cell.get_text())

Serial no.
Description
Amount in February, 2023
Amount in March, 2023
% Change (February, 2023 to March, 2023)

In [30]:
for row in table.find_all('tr'):
        row_data = []
        for cell in row.find_all('td'):
                print (cell.get_text())

A.
Industry Wise Information

Industry Wise Information
1
No. of Banks currently providing  the Services
13
13

2
No. of agents
1581284
1598000
1.06%
3
No. of registered clients in Lac
1967.04
1980.93
0.71%
4
No. of active accounts in Lac*
634.95
675.20
6.34%
5
No. of total transaction
450926709.00
482455915.00
6.99%
6
Total transaction in taka(in crore BDT)
97307.48
108467.23
11.47%
7
No. of daily average transaction
16104525.00
15563094.00
-3.36%
8
Average daily transaction (in crore BDT)
3475.27
3498.94
0.68%
B.
Product Wise Information
Amount (in crore BDT)
Amount (in crore BDT)

   1
Inward Remittance
379.60
512.74
35.07%
   2
Cash In transaction
29227.72
34308.10
17.38%
   3
Cash Out Transaction
28086.41
30875.95
9.93%
   4
P2P transaction
27521.81
31506.76
14.48%
   5
Salary Disbursement (B2P)
2750.48
2758.13
0.28%
   6
Utility Bill Payment (P2B)
1886.44
2318.09
22.88%
   7
Merchant Payment
3532.25
4114.11
16.47%
   8
Government Payment
2328.14
292.19
-87.45%
   9
Others
1594.63
1781.16
11.7%

In [38]:
rows = table.find_all('td')
for i in rows:
    print (i.get_text())

A.
Industry Wise Information

Industry Wise Information
1
No. of Banks currently providing  the Services
13
13

2
No. of agents
1581284
1598000
1.06%
3
No. of registered clients in Lac
1967.04
1980.93
0.71%
4
No. of active accounts in Lac*
634.95
675.20
6.34%
5
No. of total transaction
450926709.00
482455915.00
6.99%
6
Total transaction in taka(in crore BDT)
97307.48
108467.23
11.47%
7
No. of daily average transaction
16104525.00
15563094.00
-3.36%
8
Average daily transaction (in crore BDT)
3475.27
3498.94
0.68%
B.
Product Wise Information
Amount (in crore BDT)
Amount (in crore BDT)

   1
Inward Remittance
379.60
512.74
35.07%
   2
Cash In transaction
29227.72
34308.10
17.38%
   3
Cash Out Transaction
28086.41
30875.95
9.93%
   4
P2P transaction
27521.81
31506.76
14.48%
   5
Salary Disbursement (B2P)
2750.48
2758.13
0.28%
   6
Utility Bill Payment (P2B)
1886.44
2318.09
22.88%
   7
Merchant Payment
3532.25
4114.11
16.47%
   8
Government Payment
2328.14
292.19
-87.45%
   9
Others
1594.63
1781.16
11.7%

In [35]:
import os
import pandas as pd

In [39]:
df = pd.DataFrame()
data_dict = {}

In [41]:
rows = table.find_all('td')
for i in rows:
    print (i.get_text())

A.
Industry Wise Information

Industry Wise Information
1
No. of Banks currently providing  the Services
13
13

2
No. of agents
1581284
1598000
1.06%
3
No. of registered clients in Lac
1967.04
1980.93
0.71%
4
No. of active accounts in Lac*
634.95
675.20
6.34%
5
No. of total transaction
450926709.00
482455915.00
6.99%
6
Total transaction in taka(in crore BDT)
97307.48
108467.23
11.47%
7
No. of daily average transaction
16104525.00
15563094.00
-3.36%
8
Average daily transaction (in crore BDT)
3475.27
3498.94
0.68%
B.
Product Wise Information
Amount (in crore BDT)
Amount (in crore BDT)

   1
Inward Remittance
379.60
512.74
35.07%
   2
Cash In transaction
29227.72
34308.10
17.38%
   3
Cash Out Transaction
28086.41
30875.95
9.93%
   4
P2P transaction
27521.81
31506.76
14.48%
   5
Salary Disbursement (B2P)
2750.48
2758.13
0.28%
   6
Utility Bill Payment (P2B)
1886.44
2318.09
22.88%
   7
Merchant Payment
3532.25
4114.11
16.47%
   8
Government Payment
2328.14
292.19
-87.45%
   9
Others
1594.63
1781.16
11.7%